section{
    margin-left: 10%;
    margin-right: 10%;
    width: 750px;
    margin: auto;
    background-color:#4D4D5F ;
}
button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.collapsible:active{
    color: yellow;
}
.collapsible:hover{
text-shadow: 2px 2px 13px rgba(0, 0, 0, 1);}

.body-text{
    display:none;
}
.header{
 width: 750px;
 height: 150px;   
margin:auto;
}
html{
    background-color:#040430;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 p{ 
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;

    width: 730px;
    margin: auto;
    background-color:#4D4D5F ;
}
p:first-child{
    padding-top:-15px
}
p:last-child{
    padding-bottom: 25px;
}
div{
    padding-top: 50px;
    padding-left: 10px;
    font-size: 40px;
}
h1{
font-size: 85px;
font-weight: bold;
text-align: center;
padding-bottom: 40px;
text-shadow: 3px 3px 6px rgba(165, 156, 44, 1);}
.intro{
    background-image:url("../images/lightning-1.svg") ;
    border: none;
}
.steering{
    background-image:url("../images/hurricane .svg") ;

}
.intensity{
    background-image:url("../images/waves.svg") ;

}
.climate{
    background-image:url("../images/lightning-2.svg") ;

}
.extremes{
    background-image:url("../images/radar.svg") ;

}
.trends{
    background-image:url("../images/trees.svg") ;

}
.sources{
    background-image:url("../images/waves-2.svg") ;

}