body {
    text-align: center;
    background-color: IndianRed;
    font-family: 'Dosis', sans-serif;
    font-size: 15pt;
}
a{
    font-weight: bold;
}
img{
    width: 200px;
}
h1{
    font-family: 'Ranchers', cursive;
    font-size: 60pt;
    margin-bottom: 1pt;
}
.n{
    text-decoration: line-through;
}