section{
    font-size: 25px;
    width: 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
font-family: swear-display,serif;

   

}
.intro{
    width:70%;
    font-size: 30px;
    font-style: italic;
}

p{
    text-align: left;
}
.ingredients {
    display: block;
}
body{
    max-width: 960px;
    margin: auto;
}


.fleximage{
    width: 100%;
}
ul{
    margin-left: none;
    display: flex;
    flex-wrap: wrap;
}
.instructions{
    text-align: left;
}
html{    font-family: swear-display, serif;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color:#c4c46e ;

}
section{
    margin-top: 0px;
}

@media (min-width:640px)
{section {width: 25%;} }
@media (min-width:640px)
{section {font-size: 18px;} }
h1{
    background-image:url(../images/pesto.jpeg) ;
    max-width: none;
    margin-left: 0px;
    margin-right: 0px;
}
